h1 {
  animation: load-in 350ms ease-in 500ms 1 normal forwards;
  opacity: 0;
}
h2 {
  animation: load-in 350ms ease-in 750ms 1 normal forwards;
  opacity: 0;
}

h3 {
  animation: load-in 350ms ease-in 1s 1 normal forwards;
  opacity: 0;
}

@keyframes load-in {
  from {opacity: 0;}
  to {opacity: 1;}
}